/* ImageViewer.css */
.container-custom {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

  .header {
    flex: 1;
    display: flex;
    justify-content: space-between;
    .step-1 {
      
    }
  }

  .content {
    flex: 9;
    display: flex;
    flex-direction: row;

    .left-section {
      flex: 5;
      background-color: #f1f3f5;
      overflow: auto;
      width: 100%;
      
      .button-container {
        display: flex;
        justify-content: space-between;
        margin: 10px;
      }
    }
    
    .right-section {
      flex: 5;
      background-color: #e9ecef;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  }
  .footer {
    // flex: 1;
    background-color: #c7f39e;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }   
}







